# Python 3.12 compatible
aiogram==3.4.1
pydantic==2.5.3
pytz
aiofiles==23.2.1
aiohttp==3.9.5
certifi==2026.1.4
magic-filter==1.0.12
typing-extensions==4.15.0
aiosignal==1.4.0
attrs==25.4.0
frozenlist==1.8.0
multidict==6.7.1
yarl==1.22.0
idna==3.11
propcache==0.4.1
annotated-types==0.7.0
